<h1>Ejemplo de radiobuttons: Obligatorio</h1>
<div class="row">
  <div class="col-12">

  	<form [formGroup]="obligatorioFormGroup" (ngSubmit)="onSubmit(obligatorioFormGroup.value)">
	    <div class="form-group">

	      <h3>Grupo de opciones</h3>

	      <div class="form-check" *ngFor="let opcion of opcionesUno">
	        <input class="form-check-input" type="radio" [id]="opcion.valor" name="item2" [checked]="opcion.seleccionado" [value]="opcion.valor" [formControl]="opcionesControl">
	        <label class="form-check-label" [for]="opcion.valor">
	          {{opcion.label}}
	        </label>
	      </div>
	    </div>

	    <button type="submit" class="btn btn-primary" [disabled]="!obligatorioFormGroup.valid">Enviar</button> 
	    <button type="button" class="btn btn-danger ml-2" (click)="obligatorioFormGroup.reset()">Borrar</button>  
	  </form>

  </div>
</div>